* {
	margin: 0;
	padding: 0; 
}
.clearfix {
	clear: both;
}
body {
	background-color: #b17e4f;
}
#wrapper {
	margin: 140px auto 0px;
	width: 960px;
	border: 1px solid #b17e4f;	
	position: relative;
	margin-bottom: 40px;
	background-color: white;
}
header {
	background-color: white;
}
header nav {
	margin: 15px;
}
header nav a {
	padding: 20px 71px;
	display: block;
	text-transform: uppercase;
	font: 12px Arial;
	text-decoration: none;
	color: white;
	background-color: black;
}
.active {
	background-color: #1b3039;
	padding: 20px 73px;
} 
header nav a:hover {
	background-color: #1b3039;
}
header nav ul {
	display: inline-flex;
	list-style-type: none;
}
body > a {
	font: bold 44px "Trebuchet MS";
	padding-left: 30px;
	padding-top: 83px;
	position: absolute;
	top: 0px;
	left: 150px;
	text-decoration: none;
	color: white;
}
body span {
	font: 16px "Trebuchet MS";
	float: right;
	position: absolute;
	top: 105px;
	right: 180px;
	color: #cdb5a2;
}

img {
	margin-left: 15px;
}
content {
	padding: 0px 45px 35px 30px;
	width: 570px;
	float: left;
	background-color: white;
	font-family: "Trebuchet MS";
	margin-right: 20px;
}
content h1 {
	font: bold 40px;
	color: #9f6841;
}
content p {
	font-size: 13px;
	line-height: 2.0;
	padding-bottom: 30px;
}
content a, .block_with_menu a, footer a {
	color: #96ae3e;
	text-decoration: none;
}
aside {
	background-color: white;
	font-family: "Trebuchet MS";
	padding-left: 645px;
}
.block_with_menu li {
	list-style-type: none;
	margin: 15px 0px;
}
.block_with_menu {
	height: 250px;
}
aside h2 {
	border: 1px solid #5692ae;
	font-size: 20px;
	height: 40px;
	line-height: 2.0;
	margin: 5px; 
	background-color: #5d9ebd;
	color: white;
}
aside div {
	border: 1px solid #efede5;
	margin: 20px 15px 0px 0px;
	height: 230px;
	background-color: #efede5;
}
aside div a, aside div p, footer {
	font-family: "Trebuchet MS";
	font-size: 13px;
}
aside div p {
	line-height: 2.0;
}
footer {
	text-align: center;
	padding: 30px;
	margin: 0px 15px 30px 15px;
	background-color: #d1e4a7;
}
